/* style.css */

.dinosaur-section {
	
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.dinosaur-section h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.dinosaur-section .container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 800px;
    height: 500px;
    transition: all 400ms;
}

.dinosaur-section .container:hover .box {
    filter: grayscale(100%) opacity(24%);
}

.dinosaur-section .box {
    position: relative;
    overflow: hidden; /* 자식 요소(이미지)가 부모 요소를 넘어가지 않도록 설정 */
    background-size: cover;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dinosaur-section .box img {
    width: 100%; /* 이미지를 부모 요소에 맞춰서 조절 */
    height: 100%; /* 이미지를 부모 요소에 맞춰서 조절 */
    object-fit: cover;
    transition: all 400ms;
}

.dinosaur-section .container .box:hover {
    filter: grayscale(0%) opacity(100%);
}

.dinosaur-section .container:has(.box-dino1:hover) {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.dinosaur-section .container:has(.box-dino2:hover) {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.dinosaur-section .container:has(.box-dino3:hover) {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.dinosaur-section .container:has(.box-dino4:hover) {
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.dinosaur-section .container:has(.box-dino5:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

.dinosaur-section .box-dino1:nth-child(odd) {
    transform: translateY(-16px);
}

.dinosaur-section .box-dino1:nth-child(even) {
    transform: translateY(16px);
}

.dinosaur-section .box-dino2:nth-child(odd) {
    transform: translateY(-16px);
}

.dinosaur-section .box-dino2:nth-child(even) {
    transform: translateY(16px);
}

.dinosaur-section .box-dino3:nth-child(odd) {
    transform: translateY(-16px);
}

.dinosaur-section .box-dino3:nth-child(even) {
    transform: translateY(16px);
}

.dinosaur-section .box-dino4:nth-child(odd) {
    transform: translateY(-16px);
}

.dinosaur-section .box-dino4:nth-child(even) {
    transform: translateY(16px);
}

.dinosaur-section .box-dino5:nth-child(odd) {
    transform: translateY(-16px);
}

.dinosaur-section .box-dino5:nth-child(even) {
    transform: translateY(16px);
}

.dinosaur-section .box::after {
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background: #000;
    color: #ffffff;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
}

.dinosaur-section .box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 50ms;
}
