/* style.css */

body {
	background-image: url('../img/background_2000.jpg');
    background-repeat: no-repeat;
  	background-size: cover;
 	background-position: center;
  	background-attachment: fixed;
}

.logo {
    width: 100px; /* 로고 이미지의 너비 조절 */
    height: auto; /* 로고 이미지의 높이 자동 조절 */
}

.info-title {
    text-align: center;
    margin-bottom: 20px;
}

.info-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
    font-size: 16px;
}

span {
    font-weight: bold;
}

.container {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.dino-card {
    border-radius: 15px; /* 모서리를 더 둥글게 만듭니다. */
    margin-bottom: 30px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    background-color: #f8f9fa; /* 연한 회색 배경색 */
}
        
.dino-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 효과 향상 */
}
        
.dino-card p {
    margin: 10px 0; /* 텍스트 간격을 늘려줍니다. */
    color: #555; /* 텍스트 색상을 어두운 회색으로 변경 */
}
        
.dino-card h3 {
    margin-bottom: 15px;
    color: #007bff;
    font-size: 18px; /* 제목 텍스트 크기를 키웁니다. */
}
.dino-card-content {
    display: none;
}

.dino-card.active .dino-card-content {
    display: block;
    /* 열린 상태 스타일 */
}

.dino-details {
    font-size: 14px; /* 기본 텍스트 크기 설정 */
    color: #333; /* 기본 텍스트 색상 설정 */
    margin-top: 10px; /* 위쪽 마진 추가 */
    border-top: 1.5px solid #ddd; /* 상단에 1픽셀 두께의 실선을 추가합니다. */
    margin-top: 10px; /* 구분선과 내용 사이의 간격을 조정합니다. */
    padding-top: 5px; /* 내용 위에 여백을 추가하여 구분선과 내용 사이의 간격을 조정합니다. */
}