@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

/* 공통 스타일 */
.section-style {
  display: grid;
  place-items: center;
  min-height: 200px;
}

.section-style h3 {
  color: white;
  text-align: center;
  margin: 5px 5px; /* 상단 여백 */
}

.section-style .container {
  position: relative;
  top: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  width: 800px;
  height: 500px;
  transition: all 400ms;
}

.section-style .box {
  position: relative;
  overflow: hidden;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms;
}

.section-style .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 400ms;
}

/* 호버 효과 */
.section-style .container:hover .box {
  filter: grayscale(100%) opacity(24%);
}

.section-style .container .box:hover {
  filter: grayscale(0%);
  opacity: 1;
}

/* 특정 섹션에만 적용되는 스타일 */

.section-style .container:has(.box-1:hover) {
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.section-style .container:has(.box-2:hover) {
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.section-style .container:has(.box-3:hover) {
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.section-style .container:has(.box-4:hover) {
  grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.section-style .container:has(.box-5:hover) {
  grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

.section-style .box-1:nth-child(odd) {
  transform: translateY(-16px);
}

.section-style .box-1:nth-child(even) {
  transform: translateY(16px);
}

.section-style .box-2:nth-child(odd) {
  transform: translateY(-16px);
}

.section-style .box-2:nth-child(even) {
  transform: translateY(16px);
}

.section-style .box-3:nth-child(odd) {
  transform: translateY(-16px);
}

.section-style .box-3:nth-child(even) {
  transform: translateY(16px);
}

.section-style .box-4:nth-child(odd) {
  transform: translateY(-16px);
}

.section-style .box-4:nth-child(even) {
  transform: translateY(16px);
}

.section-style .box-5:nth-child(odd) {
  transform: translateY(-16px);
}

.section-style .box-5:nth-child(even) {
  transform: translateY(16px);
}

.section-style .box::after {
  content: attr(data-text);
  position: absolute;
  bottom: 20px;
  background-color: rgb(10,55,17);
  color: #ffffff;
  padding: 10px 10px 10xp 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  transform: translateY(60px);
  opacity: 0;
  transition: all 400ms;
  font-family: "Arial";
}

.section-style .box:hover::after {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 50ms;
}
