/* Reset some default styles */
body,
h1,
h2,
h3,
p,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

/* Set the font for the whole document */
body {
    font-family: Arial, sans-serif;
}

/* Style for the header navigation */
nav {
    background-color: #aa65be;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    padding: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.search-bar input {
    padding: 5px;
}

.search-bar button {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 145, 37);

}

.login-button {
    padding: 5px 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(46, 145, 37);
    border: none;
    cursor: pointer;
}

/* Main section styles */

/* Footer styles */
footer {
    background-color: #39692d;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.top_navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #458b51;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 90px;
}



/* 이미지가 마우스 오버시 색상 변경 */
.dinosaur-images .card:hover img {
    filter: saturate(100%);
    filter: brightness(110%);
}

.dinosaur-images .card img {
    filter: grayscale(50%);
}

.dinosaur-img {
    transition: transform 0.3s ease-in-out;
}

.dinosaur-img:hover {
    transform: scale(1.1);
    /* 마우스를 올렸을 때 이미지가 약간 커지도록 설정 */
}

img {
    width: 300px;
    height: 400px;

}

.search-bar {
    display: flex;
    align-items: center;
    /* 세로 중앙 정렬 */
}

.input-wrapper {
    margin-right: 0px;
    /* 입력 필드와 버튼 사이의 간격 조정 */
}

.button-wrapper {
    margin-right: 10px;
    flex-shrink: 0;
    /* 버튼이 컨테이너를 넘치지 않도록 설정 */
}

h2 {
    color: #0b6955;
}

header {
    background-color: #5edba7;
}