body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  .page-header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
  }
  
  .nav__list {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding: 20px;
  }
  
  .nav__item {
    margin-left: 20px;
  }
  
  .section.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .hero__text {
    text-align: center;
  }
  
  /* 기존 CSS에 이 부분을 추가 */
.hero__logo {
    transition: top 0.5s ease, left 0.5s ease, transform 0.5s ease;
  }
  