<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mesozoic Eden</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/demo.css">
    
</head>
<body>
    <header data-header class="page-header">
        <nav>
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#dinosaur">Dinosaurs</a>
                </li>
                <li class="nav__item">
                    <a href="#employee">Employees</a>
                </li>
                <li class="nav__item">
                    <a href="#">a</a>
                </li>
                <li class="nav__item nav__logo">
                    <a href="/eden">
                        <img src="img/logo_1.png" alt="logo">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="section hero">
            <div class="hero__bg">
                <img
                class="hero__img"
                srcset="
                img/background_2000.jpg 2000w,
                img/background_1200.jpg 1200w,
                img/background_800.jpg 800w
                "
                src="img/background_1200.jpg"
                alt="Forest background"
                />
            </div>
            <div
            class="hero__content"
            data-content
            >
            <div class="hero__text">
                    <img class="hero__logo" src="img/logo_1.png" alt="Main logo">
            </div>
        </div>
    </section>
    
    <section class="section gentle-giants" id="dinosaur1">
        <header class="section__header">
            <h3 class="section__title">Explore & Discover</h3>
        </header>
        <div
        class="section__content section__content--gentle-giants"
        data-content
        >
        <img class="section__img" src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/parasaurolophus.svg' alt='Parasaurolophus'>
        <h2 class="section__main-title section__main-title--left">
            Employees
        </h2>
        <div class="section__intro gentle-giants__intro">
            <p>
                Go on safari and explore the world of our giant herbiverous
                dinosaurs – the largest animals to have ever lived.
            </p>
            <p><a href="">Find out more</a></p>
        </div>
    </div>
</section>

<!--
    <section class="section carnivore-kingdom">
    <header class="section__header">
        <h3 class="section__title">Experience Adventures</h3>
    </header>
    <div
    class="section__content"
    data-content
    >
    <img class="section__img section__img--left" src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/trex.svg' alt='T-rex'>
    <h2 class="section__main-title section__main-title--right">Carnivore Kingdom</h2>
    <div class="section__intro carnivore-kingdom__intro">
        <p>
            Prepare to be terrified...walk among the largest, fiercest predators to ever have walked the earth.
        </p>
        <p><a href="">Find out more</a></p>
    </div>
</div>
</section>
-->

<!-- DINOSAUR -->
<section class="section" id=dinosaur>
	<header class="section__header">
		<h3 class="section__title">Dinosaurs</h3>
	</header>

	<div class="section-style">
	    <h3>MESOZOIC PARK<br>DINOSAUR</h3>
	    <div class="container">
            <a href="/dinosaurs/type/육각류" class="box box-1" data-text="육각류" ><img src="img/육각류.jpg" alt ="육각류 이미지"></a>
            <a href="/dinosaurs/type/식각류" class="box box-2" data-text="식각류"><img src="img/식각류.jpg" alt ="식각류 이미지"></a>
            <a href="/dinosaurs/type/곡룡류" class="box box-3" data-text="곡룡류"><img src="img/곡룡류.jpg" alt ="곡룡류 이미지"></a>
            <a href="/dinosaurs/type/검룡류" class="box box-4" data-text="검룡류"><img src="img/검룡류.jpg" alt ="검룡류 이미지"></a>
            <a href="/dinosaurs/type/후각류" class="box box-5" data-text="후각류"><img src="img/후각류.jpg" alt ="후각류 이미지"></a>
        </div>
    </div>
</section>

<!-- DEPARTMENT -->
<section class="section" id=employee>
    <header class="section__header">
        <h3 class="section__title">Employees</h3>
    </header>
    
    <section class="section-style">
        <h3>MESOZOIC PARK<br>DEPARTMENT</h3>
        <div class="container">
            <a href="employee/empdepart/가이드팀"><div class="box box-1" data-text="가이드팀"><img src="img/가이드.jpg"></div></a>
            <a href="employee/empdepart/보안팀"><div class="box box-2" data-text="보안팀"><img src="img/보안요원.jpg"></div></a>
            <a href="employee/empdepart/사육사팀"><div class="box box-3" data-text="사육사팀"><img src="img/사육사.jpg"></div></a>
            <a href="employee/empdepart/수의사팀"><div class="box box-4" data-text="수의사팀"><img src="img/수의사.jpg"></div></a>
            <a href="employee/empdepart/영업팀"><div class="box box-5" data-text="영업팀"><img src="img/영업사원.jpg"></div></a>
        </div>
    </section>
</section>
</main>

<!-- Javascript -->
<script src="js/demo.js"></script>

</body>
</html>