<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mesozoic Eden</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <!-- GSAP ScrollTrigger -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
</head>

<body>
    <header data-header class="page-header">
        <nav>
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#about">Explore & Discover</a>
                </li>
                <li class="nav__item">
                    <a href="#dinosaur">Dinosaurs</a>
                </li>
                <li class="nav__item">
                    <a href="#employee">Employees</a>
                </li>
                <li class="nav__item nav__logo">
                    <a href="/eden">
                        <img src="img/logo_1.png" alt="logo">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="section hero">
            <div class="hero__bg">
                <img class="hero__img" srcset="
                img/background_2000.jpg 2000w,
                img/background_1200.jpg 1200w,
                img/background_800.jpg 800w
                " src="img/background_1200.jpg" alt="Forest background" />
            </div>
            <div class="hero__content" data-content>
                <div class="hero__text">
                    <img class="hero__logo" src="img/logo_1.png" alt="Main logo">
                </div>
            </div>
        </section>

        <section class="section gentle-giants" id="about">
            <header class="section__header">
                <h3 class="section__title">Explore & Discover</h3>
            </header>
            <div class="section__content section__content--gentle-giants" data-content>
                <img class="section__img" src="img/park_map.png" alt='Map'>
                <h2 class="section__main-title section__main-title--left">
                    Enjoy <br>your experience
                </h2>
                <div class="section__intro gentle-giants__intro">
                    <p>
                        Go on safari and explore the world of our giant creatures
                        – the largest animals to have ever lived.
                    </p>
                    <p><a href="">Find out more</a></p>
                </div>
            </div>
        </section>

        <!-- DINOSAUR -->
        <section class="section" id="dinosaur">
            <header class="section__header">
                <h3 class="section__title">Dinosaurs</h3>
            </header>

            <div class="section-style">
                <p>MEET OUR DINOSAURS</p>
                <div class="container">
                    <a href="/dinosaurs/dino/수각류" class="box box-1" data-text="수각류"><img src="img/수각류.jpg"
                            alt="육각류 이미지"></a>
                    <a href="/dinosaurs/dino/용각류" class="box box-2" data-text="용각류"><img src="img/용각류.jpg"
                            alt="식각류 이미지"></a>
                    <a href="/dinosaurs/dino/각룡류" class="box box-3" data-text="각룡류"><img src="img/각룡류.jpg"
                            alt="곡룡류 이미지"></a>
                    <a href="/dinosaurs/dino/조각류" class="box box-4" data-text="조각류"><img src="img/조각류.jpg"
                            alt="검룡류 이미지"></a>
                    <a href="/dinosaurs/dino/검룡류" class="box box-5" data-text="검룡류"><img src="img/검룡류.jpg"
                            alt="후각류 이미지"></a>
                </div>
            </div>
        </section>

        <!-- DEPARTMENT -->
        <section class="section" id="employee">
            <header class="section__header">
                <h3 class="section__title">Employees</h3>
            </header>

            <div class="section-style">
                <p>MEET OUR TEAM</p>
                <div class="container">
                    <a href="employee/empdepart/가이드팀" class="box box-1" data-text="가이드팀"><img src="img/가이드.jpg"
                            alt=""></a>
                    <a href="employee/empdepart/보안팀" class="box box-2" data-text="보안팀"><img src="img/보안요원.jpg"
                            alt=""></a>
                    <a href="employee/empdepart/사육사팀" class="box box-3" data-text="사육사팀"><img src="img/사육사.jpg"
                            alt=""></a>
                    <a href="employee/empdepart/수의사팀" class="box box-4" data-text="수의사팀"><img src="img/수의사.jpg"
                            alt=""></a>
                    <a href="employee/empdepart/영업팀" class="box box-5" data-text="영업팀"><img src="img/영업사원.jpg"
                            alt=""></a>
                </div>
            </div>
        </section>
    </main>

<!-- Javascript -->
<script>
    gsap.registerPlugin(ScrollTrigger);

    const sections = document.querySelectorAll("section");

    sections.forEach((section, index) => {
        const sectionChildren = section.querySelector("[data-content]").children;

        sectionChildren.forEach((el, index) => {
            gsap.set(el, { "--delay": '${index * 0.25}' });
        });

        gsap.from(sectionChildren, {
            opacity: 0,
            y: 50,
            duration: 0.8,
            delay: 0.2,
            stagger: 0.25,
            scrollTrigger: {
                trigger: section,
                start: "top 80%",
                end: "bottom 20%",
                toggleActions: "play none none reverse",
                toggleClass: "is-visible"
            },
        });
    });

    gsap.to('.hero__logo', {
        scrollTrigger: {
            trigger: '.gentle-giants',
            start: 'top top',
            end: 'bottom top',
            scrub: true,
            markers: true
        },
        x: 0,
        y: 0
    });
</script>
</body>

</html>