<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title th:text="${type}">Dinosaur Type</title>
    <link rel="stylesheet" th:href="@{/css/dino.css}">
</head>

<body class="profile">
    <header data-header class="page-header">
        <nav>
            <ul class="nav__list">
                <li class="nav__item">
                    <a th:href="@{/eden#dinosaur}">Dinosaurs</a>
                </li>
                <li class="nav__item">
                    <a th:href="@{/eden#employee}">Employees</a>
                </li>
                <li class="nav__item">
                    <a th:href="@{/eden#a}">a</a>
                </li>
                <li class="nav__item nav__logo">
                    <a th:href="@{/eden}"><img th:src="@{/img/logo_1.png}" class="header-logo"></a>
                </li>
            </ul>
        </nav>
    </header>
    <div th:switch="${type}" class="dinoType">
        <p th:case="'육각류'">Hexapoda | 육각류</p>
        <p th:case="'식각류'">Hexapoda | 식각류</p>
        <p th:case="'곡룡류'">Hexapoda | 곡룡류</p>
        <p th:case="'검룡류'">Hexapoda | 검룡류</p>
        <p th:case="'후각류'">Hexapoda | 후각류</p>
        <p th:case="*">없습니다</p>
    </div>
</body>

</html>