<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>공룡 정보</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<body>
<h1>이름: <span th:text="${dinosaur.dinoName}"></span></h1>
종: <span th:text="${dinosaur.dinoSpecies}"></span><br> 
시대: <span th:text="${dinosaur.dinoEra}"></span><br>
분류: <span th:text="${dinosaur.dinoType}"></span><br>
특징: <span th:text="${dinosaur.dinoFeature}"></span><br>
크기: <span th:text="${dinosaur.dinoSize}"></span>m<br>
무게: <span th:text="${dinosaur.dinoWeight}"></span>kg<br>
위험 레벨: <span th:text="${dinosaur.dinoDangerLevel}"></span><br>
건강 정보: <span th:text="${dinosaur.dinoHealthStatus}"></span>
</body>
</head>
</html>
