<!DOCTYPE html>
<html lang="ko">
<head>
<body>
<h1>이름: <span th:text="${dinosaur.dinoName}"></span></h1>
종: <span th:text="${dinosaur.dinoSpecies}"></span><br> 
목: <span th:text="${dinosaur.dinoEra}"></span><br>
타입: <span th:text="${dinosaur.dinoType}"></span><br>
특징: <span th:text="${dinosaur.dinoFeature}"></span><br>
크기: <span th:text="${dinosaur.dinoSize}"></span>m<br>
무게: <span th:text="${dinosaur.dinoWeight}"></span>kg<br>
위험 레벨: <span th:text="${dinosaur.dinoDangerLevel}"></span><br>
건강 정보: <span th:text="${dinosaur.dinoHealthStatus}"></span>
</body>
</head>
</html>
