<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MESOZOIC PARK</title>
    <link rel="stylesheet" href="css/dnoList.css">   
</head>
<body>
<h1><a href="/eden" style="text-decoration: none; color: white;">MESOZOIC PARK</a></h1>
<div class="container">
   <a href="/dinosaurs/type/육각류" class="box box-dino1" data-text="육각류" >
   		<img src="img/dino1.jpg" alt ="육각류 이미지"></a>
   <a href="/dinosaurs/type/식각류" class="box box-dino2" data-text="식각류">
  		<img src="img/dino2.jpg" alt ="식각류 이미지"></a>
   <a href="/dinosaurs/type/곡룡류" class="box box-dino3" data-text="곡룡류">
   		<img src="img/dino3.jpg" alt ="곡룡류 이미지"></a>
   <a href="/dinosaurs/type/검룡류" class="box box-dino4" data-text="검룡류">
   		<img src="img/dino4.jpg" alt ="검룡류 이미지"></a>
   <a href="/dinosaurs/type/후각류" class="box box-dino5" data-text="후각류">
   		<img src="img/dino5.jpg" alt ="후각류 이미지"></a>
</div>

</body>
</html>