<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>부서</title>
    <link rel="stylesheet" th:href="@{/css/department.css}">
</head>
<body>
<h1>MESOZOIC PARK DEPARTMENT</h1>
<div class="container">
    <a th:href="@{/customPath/guide}"><div class="box box-1" data-text="가이드팀"><img th:src="@{/img/가이드.jpg}"></div></a>
    <a th:href="@{/customPath/security}"><div class="box box-2" data-text="보안팀"><img th:src="@{/img/보안요원.jpg}"></div></a>
    <a th:href="@{/customPath/zookeeper}"><div class="box box-3" data-text="사육사팀"><img th:src="@{/img/사육사.jpg}"></div></a>
    <a th:href="@{/customPath/vet}"><div class="box box-4" data-text="수의사팀"><img th:src="@{/img/수의사.jpg}"></div></a>
    <a th:href="@{/customPath/salery}"><div class="box box-5" data-text="영업팀"><img th:src="@{/img/영업사원.jpg}"></div></a>
</div>
</body>
</html>
